:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 87 112 173;
  --oui-color-primary-light: 144 164 206;
  --oui-color-primary-darken: 56 86 142;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 108 145 193;
  --oui-color-link-light: 165 185 221;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 87 129;
  --oui-color-danger-light: 251 143 173;
  --oui-color-danger-darken: 223 63 112;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 171 129;
  --oui-color-success-light: 93 207 165;
  --oui-color-success-darken: 0 133 97;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 205 78;
  --oui-color-warning-light: 255 228 140;
  --oui-color-warning-darken: 255 163 44;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 44 39 64;
  --oui-color-fill-active: 50 52 76;

  --oui-color-base-1: 102 135 163;
  --oui-color-base-2: 88 118 145;
  --oui-color-base-3: 74 103 128;
  --oui-color-base-4: 63 92 116;
  --oui-color-base-5: 56 82 105;
  --oui-color-base-6: 48 72 94;
  --oui-color-base-7: 42 63 84;
  --oui-color-base-8: 36 55 74;
  --oui-color-base-9: 29 46 63;
  --oui-color-base-10: 22 38 52;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 87 129;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 171 129;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 64 90 141;
  --oui-gradient-primary-end: 144 164 206;

  --oui-gradient-secondary-start: 81 108 165;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 15 124 98;
  --oui-gradient-success-end: 93 207 165;

  --oui-gradient-danger-start: 170 56 103;
  --oui-gradient-danger-end: 251 143 173;

  --oui-gradient-brand-start: 173 205 234;
  --oui-gradient-brand-end: 108 145 193;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 217 161 56;
  --oui-gradient-warning-end: 255 228 140;

  --oui-gradient-neutral-start: 35 40 51;
  --oui-gradient-neutral-end: 50 52 76;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}